html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif /*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
    margin: 0px;
    padding: 0px;
    color: #555555;
    min-width: 320px;
}

p.active {
    color: #a33;
}


#content {
    padding-top: 70px;
    width: 350px;
    float: right;
}