.method {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    border: 1px #555 solid;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px 10px;
}

.method .content {
    position: relative;
    flex: 1;
}

.method .loading {
    color: rgba(0, 0, 0, 0.6);
}